/* * {
  outline: 2px solid limegreen !important;
} */

:root,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem;
  background-color: rgb(170, 97, 133);
  /* border: 2px solid rgb(235, 176, 79); */
}

p {
  padding: 0.6rem;
  margin: 0.6rem;
  border: 2px solid rgb(0, 242, 255);
  color: pink;
  background-color: rgba(53, 35, 49, 0.517);
  /* transition: background-color 0.3s; */
}

p:hover {
  border: 2px solid rgb(96, 230, 130);
  background-color: rgba(187, 30, 153, 0.517);
  /* font-size: x-large; */
}

div {
  padding: 0.6rem;
  margin: 0.6rem;
  border: 2px solid rgb(255, 0, 128);
  background-color: rgba(68, 68, 68, 0.517);
}

p span {
  color: rgb(94, 160, 210);
}

/* body,
p,
div,
img {
  border-radius: 3rem;
} */

.rounded {
  border-radius: 0.3rem;
  transition: border-radius 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.rounded:hover {
  border-radius: 0.9rem;
}

img.rounded {
  border-radius: 1rem;
}

img:hover.rounded {
  border-radius: 8rem;
}

.prvni {
  background: limegreen;
}

div#jester.prvni {
  background: red;
}
